version: "3.7"

volumes:
  mysql_data:

services:

  mysql:
    container_name: mysql
    image: budougumi0617/mysql-sakila
    ports:
      # <Port exposed> : < MySQL Port running inside container>
      - '3306:3306'
    expose:
      # Opens port 3306 on the container
      - '3306'
    volumes:
      - ./mysql-data:/var/lib/mysql
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_bin --server-id=1 --default_authentication_plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
    cap_add:
        - SYS_NICE  # CAP_SYS_NICE

  firesql:
    image: nyanpass/firesql
    tty: true
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
    links:
      - mysql
    environment:
      MYSQL_HOST: mysql
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb
    ports:
      - 8080:8080
